.contact {
  margin: 2vh auto;
  text-align: center;
  border-radius: 1vh;
  width: 90vw;
}

.titre {
  font-size: 2rem;
}

ion-row {
  display: flex;
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.info {
  background: none;
  box-shadow: none;
}

// animation pour la disparition et l'apparition du texte de téléphone et de mail
.typewriter-effect > .text {
  animation: typing 2s steps(var(--characters));
  overflow: hidden;
}

.typewriter-effect > .text-reverse {
  max-width: 0;
  animation: typing-reverse 2s steps(var(--characters));
  white-space: nowrap;
  overflow: hidden;
}


.typewriter-effect-blink::after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes typing-reverse {
  0%,
  25% {
    max-width: calc(var(--characters) * 1ch);
  }
  100% {
    max-width: 0;
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
