<ion-card id="compétences">
  <ion-card-header>
    <ion-card-title class="title">Compétences</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        @for (competence of competences; track competence) {
          <ion-col size="12" size-md="6">
            <div class="competence-item">
              <ion-icon name="checkmark-circle" color="primary"></ion-icon>
              <ion-label class="ion-text-wrap">{{competence.titre}}</ion-label>
            </div>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
