<ion-card id="expériences">
  <ion-card-header>
    <ion-card-title class="title">Mes expériences professionnelles</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <swiper-container
      [slidesPerView]="isDesktop ? 2 : 1"
      [pagination]="!isDesktop ? {clickable: true} : false"
    >
      @for (experience of experiencesPro; track experience) {
        <swiper-slide>
          <ion-card class="no_box ion-text-center">
            <ion-header>
              <ion-card-title>{{experience.titre}}</ion-card-title>
              <ion-card-subtitle class="ion-text-wrap">
                {{experience.datesLieu}} <br>
                {{experience.entreprise}}
              </ion-card-subtitle>
            </ion-header>
            <ion-card-content>
              @if (experience.sections) {
                @for (section of experience.sections; track section) {
                  <ion-card-subtitle class="section-titre">{{ section.titre }}</ion-card-subtitle>
                  @for (item of section.items; track item) {
                    <p>{{item}}</p>
                  }
                }
              } @else {
                @for (information of experience.informations; track information) {
                  <p>{{information}}</p>
                }
              }
            </ion-card-content>
            @if (experience.liens) {
              <ion-card-content class="ion-no-padding">
                @for (lien of experience.liens; track lien) {
                  <ion-button
                    [title]="lien.titre" target="_blank" [href]="lien.url"
                    color="primary-tint" shape="round" fill="clear">
                    <ion-icon name="link" slot="start"></ion-icon>
                    {{lien.titre}}
                  </ion-button>
                }
              </ion-card-content>
            }
          </ion-card>
        </swiper-slide>
      }
    </swiper-container>
  </ion-card-content>
</ion-card>

