<ion-card id="certificats">
  <ion-card-header>
    <ion-card-title class="title">Certificats</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (certificat of certificats; track certificat; let last = $last) {
        <ion-item [lines]="last ? 'none' : undefined">
          <ion-thumbnail slot="start">
            <img alt="Logo {{certificat.nomLogo}}" ngSrc="assets/certificats/{{certificat.nomLogo}}.png" width="56" height="56"/>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap"
            (click)="openUrl(certificat.site)"
            [class]="certificat.site !== '' ? 'canClick' : ''"
            color="medium">
            {{certificat.description}} | {{certificat.date}}
          </ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
