<ion-header [translucent]="true">
  @if (platform.is('desktop')) {
    <ion-toolbar>
      <ion-title color="primary" class="nom">Nicolas Barrat</ion-title>
      @for (item of ['formation', 'certificats', 'expériences', 'projets', 'compétences', 'ctf', 'technos', 'contact']; track item) {
        <ion-button slot="end" fill="clear" color="primary"
          (click)="goTo(item)">
          {{item[0].toUpperCase() + item.slice(1, item.length)}}
        </ion-button>
      }
      <ion-text slot="end">&nbsp;&emsp;</ion-text>
    </ion-toolbar>
  }

  @if (!platform.is('desktop')) {
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary" class="nom">Nicolas Barrat</ion-title>
    </ion-toolbar>
  }
</ion-header>
