<ion-menu contentId="main-content" #menu>
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let item of ['formation', 'certificats', 'expériences', 'projets', 'compétences', 'ctf', 'loisirs', 'contact']"
                (click)="goTo(item)">
        <ion-label color="primary">{{item[0].toUpperCase() + item.slice(1, item.length)}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
