<ion-card id="expériences">
  <ion-card-header>
    <ion-card-title class="title">Mes expériences professionnelles</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <swiper-container
      [navigation]="isDesktop ? {} : undefined"
      [slidesPerView]="isDesktop ? 2 : 1"
      [pagination]="{clickable: true}"
      >
      @for (experience of experiencesPro; track experience) {
        <swiper-slide>
          <ion-card class="no_box ion-text-center">
            <ion-header>
              <ion-card-title>{{experience.titre}}</ion-card-title>
              <ion-card-subtitle class="ion-text-wrap">
                {{experience.datesLieu}} <br>
                {{experience.entreprise}}
              </ion-card-subtitle>
            </ion-header>
            <ion-card-content [class]="isDesktop ? 'space-card-content' : ''">
              @for (information of experience.informations; track information) {
                <p>{{information}}</p>
              }
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      }
    </swiper-container>
  </ion-card-content>
</ion-card>
