<ion-card id="expériences">
  <ion-card-header>
    <ion-card-title class="title">Mes expériences professionnelles</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <swiper-container
      [navigation]="isDesktop ? {} : undefined"
      [slidesPerView]="isDesktop ? 2 : 1"
      [pagination]="{clickable: true}"
      >
      <swiper-slide *ngFor="let experience of experiencesPro">
        <ion-card class="no_box ion-text-center">
          <ion-header>
            <ion-card-title>{{experience.titre}}</ion-card-title>
            <ion-card-subtitle class="ion-text-wrap">
              {{experience.datesLieu}} <br>
              {{experience.entreprise}}
            </ion-card-subtitle>
          </ion-header>
          <ion-card-content [class]="isDesktop ? 'space-card-content' : ''">
            <p *ngFor="let information of experience.informations">{{information}}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-card-content>
</ion-card>
