<ion-card id="technos">
  <ion-card-header>
    <ion-card-title class="title">Technologies manipulées</ion-card-title>
    <ion-card-subtitle>Les plus importantes par secteur</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        @for (techno of listeTechnos; track techno) {
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ techno.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                @for (technologie of techno.liste; track technologie) {
                  <img
                    class="technologie"
                    [src]="badge.getLink(technologie)"
                    alt="Logo {{technologie}}"
                    loading="lazy"
                    decoding="async"
                  >
                }
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
