.card {
  display: grid;
  place-items: center;
  height: 90vh;
}

.div_fleche {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.fleche {
  width: 1rem;
  color: black;
}

section {
  margin: 5vh 0;
}

ion-card {
  width: 50vw;
}

img {
  width: 10vmax;
  border-radius: 100%;
  border: white 2px solid;
}
