<div class="card">
  <ion-grid>
    <ion-row style="width: 100vw">
      <ion-col class="center" size="12" size-lg="6">
        <img ngSrc="assets/pdp.jpg" alt="Photo de profil" height="300" width="300" priority>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title class="nomPresentation">Nicolas Barrat</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="center" size="12" size-lg="6">
        <ion-card color="primary" class="card-description">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center description">
              Alternant ingénieur en sécurité informatique chez Maxxing
            </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-center description">
              Étudiant en 5ème année à JUNIA ISEN Lille, spécialisé en cybersécurité
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="card-description ion-text-center">
          <ion-card-header>
            <ion-card-subtitle class="description">
              Lien vers mon CV pdf
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-button title="CV au format PDF" target="_blank" href="https://nicob.ovh/cv/pdf"
                          color="primary-tint" shape="round" fill="clear">
                <ion-icon name="document-text" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div id="div_fleche">
  <img src="assets/doublefleche.svg" alt="Flèche vers le bas" id="fleche"
       (click)="onArrowClick()">
</div>

<section></section>
