<div class="card">
  <ion-grid>
    <ion-row style="width: 100vw">
      <ion-col class="center" size="12" size-lg="6">
        <img src="assets/pdp.jpg" alt="Photo de profil">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title class="nomPresentation">Nicolas Barrat</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="center" size="12" size-lg="6">
        <ion-card color="primary card-description">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center description">
              Actuellement étudiant en 4ème année à l'ISEN Lille, spécialisé en cybersécurité.
            </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-center description">
              Je suis actuellement à la recherche d'un contrat de professionalisation pour l'année 2023/2024.
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="div_fleche">
  <svg class="fleche" viewBox="0 0 15.247 8.718">
    <path fill="#CD5954"
          d="M7.626 6.09L13.391.32a1.085 1.085 0 011.539 0 1.1 1.1 0 010 1.543L8.398 8.4a1.088 1.088 0 01-1.5.032L.317 1.868A1.09 1.09 0 011.856.325z"></path>
  </svg>
</div>

<section></section>
