.devant {
  z-index: 3;
  filter: blur(4px);
}

.derrière {
  z-index: 2;
  filter: drop-shadow(12px 20px 10px rgba(0, 0, 0, .3));
}

.devantImg {
  width: 40vmin;
  height: 40vmin;
}

.derrièreImg {
  width: 20vmin;
  height: 20vmin;
}
