.devant {
  z-index: 3;
  filter: blur(4px);
}

.derrière {
  z-index: 2;
  filter: drop-shadow(12px 20px 10px rgba(0, 0, 0, .3));
}

#cursor {
  width: 100px;
  height: 100px;
}

#photo {
  width: 100px;
  height: 100px;
}

#spring {
  width: 100px;
  height: 100px;
}

#bulb {
  width: 200px;
  height: 200px;
}

#lightning {
  width: 200px;
  height: 200px;
}
