.texture {
  @media (max-width: 768px) {
    background-image: url(../../assets/fond/fondVertical.svg);
  }
  @media (min-width: 768px) {
    background-image: url(../../assets/fond/fondHorizontal.svg);
  }
  background-repeat: no-repeat;
  background-size: 100vw 94vh;
}

.title {
  font-size: 2rem;
}

.swiper {
  --bullet-background-active: var(--ion-color-primary);
  --swiper-navigation-color: var(--ion-color-primary);
}

.technologie {
  margin: 0 0.5vw;
}

.presentation {
  width: 65%;
}

.certificats {
  @media (min-width: 768px) {
    margin-top: -7vh;
  }
}
