<ion-content [fullscreen]="true" [scrollEvents]="true">
  <div class="texture">
    <app-accueil></app-accueil>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Formation</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card>
                <img src="assets/formation/ISEN-Lille.jpg" alt="Logo JUNIA ISEN">
                <ion-card-header>
                  <ion-card-title>JUNIA ISEN</ion-card-title>
                  <ion-card-subtitle>2018 - Aujourd'hui | Lille</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  Préparation au diplôme d’ingénieur <br>
                  Cycle ingénieur deuxième année
                  Spécialité Informatique, Réseaux et Cybersécurité
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Certificats</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="Logo Campbridge" src="assets/certificats/cambridge.png"/>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">Cambridge First Certificate, score moyen 168 | 2021</ion-label>
                </ion-item>

                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="Logo Voltaire" src="assets/certificats/voltaire.png"/>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">Certificat Voltaire, niveau Professionnel | 2019</ion-label>
                </ion-item>

                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="BAFA" src="assets/certificats/bafa.png"/>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">BAFA | 2019</ion-label>
                </ion-item>

                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="PSC1" src="assets/certificats/psc1.png"/>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">PSC1 | 2019</ion-label>
                </ion-item>

                <ion-item lines="none">
                  <ion-thumbnail slot="start">
                    <img alt="Permis B" src="assets/certificats/permis.png"/>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">Permis B | 2018</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Mes expériences professionnelles</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row class="center">
                <ion-col *ngFor="let experience of experiencesPro" size="12" size-md="6" size-lg="4" size-xl="2.4">
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>{{experience.titre}}</ion-card-title>
                      <ion-card-subtitle>
                        {{experience.datesLieu}} <br>
                        {{experience.entreprise}}
                      </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <p *ngFor="let information of experience.informations">{{information}}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-contact></app-contact>
  </div>


</ion-content>
