.texture {
  //position: absolute;
  //z-index: -1;
  @apply bg-repeat;
  $interval-width: 15%;
  background-image: url(../../assets/bg.svg);
  background-size: $interval-width auto;
  background-position: 6%;
}

.title {
  font-size: 2rem;
}

ion-card-header {
  display: flex;
  flex-flow: column-reverse;
}

center {
  display: grid;
  place-items: center;
}

.swiper {
  --bullet-background-active: var(--ion-color-medium);
  --swiper-navigation-color: var(--ion-color-medium);
}

.technologie {
  margin: 0 0.5vw;
}
