<ion-toolbar>
  <div class="center">
    <ion-row class="{{platform.is('desktop') ? '' : 'center'}}">
      <ion-label class="ion-text-nowrap" style="display: flex; align-items: center">Illustrations par&nbsp;
        <a href="https://storyset.com" target="_blank" style="color: inherit;">Storyset</a>.
        &nbsp;
      </ion-label>
      <ion-label style="display: flex; align-items: center">
        Site réalisé par Nicolas Barrat, code source :
      </ion-label>
      <ion-button fill="clear" color="primary-tint" target="_blank" href="https://github.com/nicolegrimpeur/CVPersoIonic">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-toolbar>
