<ion-header [translucent]="true">
  <ion-toolbar *ngIf="platform.is('desktop')">
    <ion-title color="primary" class="nom">Nicolas Barrat</ion-title>
    <ion-button slot="end" fill="clear" color="primary"
                *ngFor="let item of ['formation', 'certificats', 'expériences', 'projets', 'compétences', 'ctf', 'loisirs', 'contact']"
                (click)="goTo(item)">
      {{item[0].toUpperCase() + item.slice(1, item.length)}}
    </ion-button>
    <ion-text slot="end">&nbsp;&emsp;</ion-text>
  </ion-toolbar>

  <ion-toolbar *ngIf="!platform.is('desktop')">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary" class="nom">Nicolas Barrat</ion-title>
  </ion-toolbar>
</ion-header>
