.contact {
  margin: 2vh auto;
  text-align: center;
  border-radius: 1vh;
  width: 90vw;
}

.titre {
  font-size: 2rem;
}

ion-row {
  display: flex;
  justify-content: center;
}

.info {
  background: none;
  box-shadow: none;
}

h5 {
  overflow-wrap: anywhere;
}
